@model AmazeOne.Models.TableauDashboardViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>TableauDashboard</legend>

        @Html.HiddenFor(model => model.TableauDashboardId)

        <div class="editor-label">
            @Html.LabelFor(model => model.DisplayName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DisplayName)
            @Html.ValidationMessageFor(model => model.DisplayName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Workbook)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Workbook)
            @Html.ValidationMessageFor(model => model.Workbook)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.View)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.View)
            @Html.ValidationMessageFor(model => model.View)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.Roles)
        </div>
        <div class="editor-field">
            @Html.ListBoxFor(m => m.SelectedRoles, Model.Roles)
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
